<footer class="site-footer h-card">
  {%- if page.lang == "zh-Hans" -%}
    {%- assign footer_home_url = "/zh" -%}
    {%- assign footer_name = site.author_zh.name | default: site.title_zh | default: site.author.name | default: site.title -%}
    {%- assign footer_description = site.description_zh | default: page.description | default: site.description -%}
    {%- assign footer_update_label = "更新于" -%}
    {%- assign footer_update_date = site.time | date: "%Y年%-m月%-d日" -%}
  {%- else -%}
    {%- assign footer_home_url = "/" -%}
    {%- assign footer_name = site.author.name | default: site.title -%}
    {%- assign footer_description = site.description -%}
    {%- assign footer_update_label = "Last updated on" -%}
    {%- assign footer_update_date = site.time | date: "%b %e, %Y" -%}
  {%- endif -%}

  <data class="u-url" href="{{ footer_home_url | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          {%- if footer_name -%}
            <li class="page__footer-copyright">&copy; {{ site.time | date: "%Y" }} {{ footer_name }}</li>
          {%- endif -%}

          {%- if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif -%}

          {%- if footer_description -%}
            <li>{{ footer_description | escape }}</li>
          {%- endif -%}
        </ul>

        {%- if site.show_update -%}
          <p>{{ footer_update_label }} {{ footer_update_date }}</p>
        {%- endif -%}
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
  </div>
</footer>
